---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{cookiecutter.role_name}}
  namespace: {{ "{{" }} {{cookiecutter.var_prefix}}_namespace {{ "}}" }}
spec:
  accessModes:
  - ReadWriteMany
  storageClassName: '{{ "{{" }} {{cookiecutter.var_prefix}}_volume_storageclass {{ "}}" }}'
  resources:
    requests:
      storage: '{{ "{{" }} {{cookiecutter.var_prefix}}_volume_size_g {{ "}}" }}Gi'
