---
kind: Ingress
apiVersion: networking.k8s.io/v1beta1
metadata:
  name: {{cookiecutter.role_name}}
  namespace: {{ "{{" }} {{cookiecutter.var_prefix}}_namespace {{ "}}" }}
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt-nginx-{{ "{{" }} {{cookiecutter.var_prefix}}_cert_issuer|lower {{ "}}" }}"
    ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/proxy-body-size: "{{ "{{" }} {{cookiecutter.var_prefix}}_ingress_proxy_body_size {{ "}}" }}"
    # For a full set of nginx annotations see...
    # https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/
spec:
  tls:
  - hosts:
    - {{ "{{" }} {{cookiecutter.var_prefix}}_hostname {{ "}}" }}
    secretName: {{cookiecutter.role_name}}-tls
  rules:
  - host: {{ "{{" }} {{cookiecutter.var_prefix}}_hostname {{ "}}" }}
    http:
      paths:
      - path: /{{ "{{" }} {{cookiecutter.var_prefix}}_hostname_path {{ "}}" }}(/|$)(.*)
        backend:
          serviceName: {{cookiecutter.role_name}}
          servicePort: http
