---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: {{cookiecutter.object_name}}
  namespace: {{ "{{" }} {{cookiecutter.var_prefix}}_namespace {{ "}}" }}
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-nginx-{{ "{{" }} {{cookiecutter.var_prefix}}_cert_issuer|lower {{ "}}" }}"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - {{ "{{" }} {{cookiecutter.var_prefix}}_hostname {{ "}}" }}
    secretName: {{cookiecutter.object_name}}-tls
  rules:
  - host: {{ "{{" }} {{cookiecutter.var_prefix}}_hostname {{ "}}" }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{cookiecutter.object_name}}
            port:
              name: http
