---
kind: Secret
apiVersion: v1
metadata:
  name: {{cookiecutter.role_name}}
  namespace: {{ "{{" }} {{cookiecutter.var_prefix}}_namespace {{ "}}" }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ "{{" }} {{cookiecutter.var_prefix}}_pull_secret {{ "}}" }}
